@model IEnumerable<Category>

<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        @foreach (var category in Model)
        {
            <li><a href="@Url.Action("FilmsList", "Films", new {categoryName = category.Name})">@category.Name</a></li>
        }
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-log-in"></span> Zarejestruj</a></li>
        @if(User.Identity.IsAuthenticated)
        {
        <li><a href="@Url.Action("Logout", "Account")"><span class="glyphicon glyphicon-log-in"></span> Wyloguj</a></li>

        }else
        {
        <li><a href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>

        })

    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@Url.Action("AllFilms", "Films")" class="btn btn-lg btn-danger">Wszystkie</a>
        </li>
    </ul>


</div>