@model AddViewModel
@{
    ViewData["Title"] = "Dodawanie filmu";
}
@using(Html.BeginForm("AddFilm", "Films", FormMethod.Post, new {enctype="multipart/form-data"}))
{
    <div>
        <div class="form-group">
            <b> @Html.LabelFor(m => m.NewFilm.Title, "Tytuł:") </b>
        @Html.TextBoxFor(m => m.NewFilm.Title)
        </div>
        <div>
            <b> @Html.LabelFor(m => m.NewFilm.Director, "Reżyser:") </b>
            @Html.TextBoxFor(m => m.NewFilm.Director)
        </div>
        <div>
            <b> @Html.LabelFor(m => m.NewFilm.Price, "Cena:") </b>
            @Html.TextBoxFor(m => m.NewFilm.Price, new {Type="number"})
        </div>
        <div>
            <b> @Html.LabelFor(m => m.NewFilm.Desc, "Opis:") </b>
            @Html.TextBoxFor(m => m.NewFilm.Desc)
        </div>
        <div class="form-group">
            <b> @Html.LabelFor(m => m.Poster, "Plakat:") </b>
            @Html.TextBoxFor(m => m.Poster, new{Type = "file", @class="form-control-file"})
        </div>

        <div class="form-check">
        @foreach (var category in Model.AllCategories)
        {
            @Html.RadioButtonFor(m => m.NewFilm.CategoryId, category.CategoryId)
            @category.Name
            <br />
        }
        </div>
    </div>

    <button type="submit" class="btn btn-primary"> Dodaj </button>
}