@model Film
<table>
    <tr>
        <td>
            <h2>@Model.Category.Name</h2>
            @(await Component.InvokeAsync("SideMenu", new {categoryName=Model.Category.Name}))
        </td>
        <td>
            <ul>
                <li><b>Tytuł: </b> @Model.Title</li>
                <li><b>Tytuł: </b> @Model.Director</li>
                <li><b>Tytuł: </b> @Model.Price</li>
                <li><b>Tytuł: </b> @Model.Desc</li>
            </ul>
        </td>

    </tr>
</table>