@model IEnumerable<Film>
@{
    ViewData["Title"] = "Kategoria " + Model.FirstOrDefault().Category.Name;
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Plakat</th>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Szczegóły</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model)
        {
            <tr>
                <td>
                    <img src="~/posters/@film.Poster" style="width: 150px; height: auto;">
                </td>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.Desc</td>
                <td>@film.Price zł</td>
                <td>
                    <a href="@Url.Action("Details", "Films", new { filmId = film.FilmId })" class="btn btn-primary">
                        Szczegóły
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>